body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-bossa: Bossa;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-gold: #edd62a;
  --color-darkslateblue: #103470;

  /* Paddings */
  --padding-xs: 12px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-5xs: 8px;
}
